################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/src/packages
/src/.vs
/src/ExGens.FiveSquare/OpenTK.dll.config
