<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BruTile" version="1.0.0" targetFramework="net48" />
  <package id="ConcurrentHashSet" version="1.0.2" targetFramework="net48" />
  <package id="GraphSharp" version="1.1.0.0" targetFramework="net48" />
  <package id="Mapsui" version="1.4.8" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net48" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net48" />
  <package id="SharpSquare" version="1.0.0.2" targetFramework="net48" />
  <package id="SkiaSharp" version="1.59.3" targetFramework="net48" />
  <package id="SkiaSharp.Svg" version="1.59.1" targetFramework="net48" />
  <package id="SkiaSharp.Views" version="1.59.3" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading" version="4.3.0" targetFramework="net48" />
  <package id="WPFExtensions" version="1.0.0" targetFramework="net48" />
  <package id="WPFLocalizeExtension" version="3.3.1" targetFramework="net48" />
  <package id="XAMLMarkupExtensions" version="1.5.1" targetFramework="net48" />
</packages>